<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>dates</key>
		<array/>
		<key>title</key>
		<string>Sleeping</string>
		<key>imageRef</key>
		<string>ButtonWeather</string>
	</dict>
	<dict>
		<key>dates</key>
		<array/>
		<key>title</key>
		<string>Working Out</string>
		<key>imageRef</key>
		<string>ButtonWeather</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Good Food</string>
		<key>dates</key>
		<array/>
		<key>imageRef</key>
		<string>ButtonWeather</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Being Alive</string>
		<key>dates</key>
		<array/>
		<key>imageRef</key>
		<string>ButtonAlive</string>
	</dict>
	<dict>
		<key>title</key>
		<string>My Family</string>
		<key>dates</key>
		<array/>
		<key>imageRef</key>
		<string>ButtonFamily</string>
	</dict>
	<dict>
		<key>dates</key>
		<array/>
		<key>title</key>
		<string>My Lover</string>
		<key>imageRef</key>
		<string>ButtonLover</string>
	</dict>
	<dict>
		<key>dates</key>
		<array/>
		<key>title</key>
		<string>My Work</string>
		<key>imageRef</key>
		<string>ButtonWork</string>
	</dict>
	<dict>
		<key>dates</key>
		<array/>
		<key>title</key>
		<string>My Hobbies</string>
		<key>imageRef</key>
		<string>ButtonHobbies</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Beautiful Weather</string>
		<key>dates</key>
		<array/>
		<key>imageRef</key>
		<string>ButtonWeather</string>
	</dict>
</array>
</plist>
